# 十分钟上手 Pandas (1)

`pandas` 是一个 `Python Data Analysis Library`。

安装请参考官网的教程，如果安装了 `Anaconda`，则不需要安装 `pandas` 库。

In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 产生 Pandas 对象

`pandas` 中有三种基本结构：

- `Series`
    - 1D labeled homogeneously-typed array
- `DataFrame`
    - General 2D labeled, size-mutable tabular structure with potentially heterogeneously-typed columns
- `Panel`
    - General 3D labeled, also size-mutable array

### Series

一维 `Series` 可以用一维列表初始化：

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])

print s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

默认情况下，`Series` 的下标都是数字（可以使用额外参数指定），类型是统一的。

### DataFrame

`DataFrame` 则是个二维结构，这里首先构造一组时间序列，作为我们第一维的下标：

In [3]:
dates = pd.date_range('20130101', periods=6)

print dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

然后创建一个 `DataFrame` 结构：

In [4]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

df

                   A         B         C         D
2013-01-01 -0.438101 -1.701705  1.473305  0.912485
2013-01-02 -2.409802 -2.611850 -0.197020  0.016782
2013-01-03 -1.167990 -0.320839  0.829406 -0.173443
2013-01-04  0.510689 -0.554595  1.726198  1.206593
2013-01-05 -0.895075 -2.211084  0.176327 -0.543157
2013-01-06  0.520627 -0.303681  1.757463 -1.409960

默认情况下，如果不指定 `index` 参数和 `columns`，那么他们的值将用从 `0` 开始的数字替代。

除了向 `DataFrame` 中传入二维数组，我们也可以使用字典传入数据：

In [5]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

字典的每个 `key` 代表一列，其 `value` 可以是各种能够转化为 `Series` 的对象。

与 `Series` 要求所有的类型都一致不同，`DataFrame` 值要求每一列数据的格式相同：

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

## 查看数据

### 头尾数据

`head` 和 `tail` 方法可以分别查看最前面几行和最后面几行的数据（默认为 5）：

In [7]:
df.head()

                   A         B         C         D
2013-01-01 -0.438101 -1.701705  1.473305  0.912485
2013-01-02 -2.409802 -2.611850 -0.197020  0.016782
2013-01-03 -1.167990 -0.320839  0.829406 -0.173443
2013-01-04  0.510689 -0.554595  1.726198  1.206593
2013-01-05 -0.895075 -2.211084  0.176327 -0.543157

最后 3 行：

In [8]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.510689 -0.554595  1.726198  1.206593
2013-01-05 -0.895075 -2.211084  0.176327 -0.543157
2013-01-06  0.520627 -0.303681  1.757463 -1.409960

### 下标，列标，数据

下标使用 `index` 属性查看：

In [9]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

列标使用 `columns` 属性查看：

In [10]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

数据值使用 `values` 查看：

In [11]:
df.values

array([[-0.4381015 , -1.70170473,  1.47330481,  0.91248532],
       [-2.40980231, -2.61185044, -0.19701975,  0.01678208],
       [-1.16799042, -0.32083929,  0.82940637, -0.17344307],
       [ 0.51068879, -0.55459486,  1.72619803,  1.20659313],
       [-0.89507495, -2.21108356,  0.17632661, -0.54315686],
       [ 0.52062709, -0.30368099,  1.75746283, -1.40995964]])

### 统计数据

查看简单的统计数据：

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.646609 -1.283959  0.960946  0.001550
std    1.112446  1.021556  0.831430  0.959359
min   -2.409802 -2.611850 -0.197020 -1.409960
25%   -1.099762 -2.083739  0.339597 -0.450728
50%   -0.666588 -1.128150  1.151356 -0.078330
75%    0.273491 -0.379278  1.662975  0.688560
max    0.520627 -0.303681  1.757463  1.206593

### 转置

In [13]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.438101   -2.409802   -1.167990    0.510689   -0.895075    0.520627
B   -1.701705   -2.611850   -0.320839   -0.554595   -2.211084   -0.303681
C    1.473305   -0.197020    0.829406    1.726198    0.176327    1.757463
D    0.912485    0.016782   -0.173443    1.206593   -0.543157   -1.409960

## 排序

`sort_index(axis=0, ascending=True)` 方法按照下标大小进行排序，`axis=0` 表示按第 0 维进行排序。

In [14]:
df.sort_index(ascending=False)

                   A         B         C         D
2013-01-06  0.520627 -0.303681  1.757463 -1.409960
2013-01-05 -0.895075 -2.211084  0.176327 -0.543157
2013-01-04  0.510689 -0.554595  1.726198  1.206593
2013-01-03 -1.167990 -0.320839  0.829406 -0.173443
2013-01-02 -2.409802 -2.611850 -0.197020  0.016782
2013-01-01 -0.438101 -1.701705  1.473305  0.912485

In [15]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.912485  1.473305 -1.701705 -0.438101
2013-01-02  0.016782 -0.197020 -2.611850 -2.409802
2013-01-03 -0.173443  0.829406 -0.320839 -1.167990
2013-01-04  1.206593  1.726198 -0.554595  0.510689
2013-01-05 -0.543157  0.176327 -2.211084 -0.895075
2013-01-06 -1.409960  1.757463 -0.303681  0.520627

`sort_values(by, axis=0, ascending=True)` 方法按照 `by` 的值的大小进行排序，例如按照 `B` 列的大小：

In [16]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-02 -2.409802 -2.611850 -0.197020  0.016782
2013-01-05 -0.895075 -2.211084  0.176327 -0.543157
2013-01-01 -0.438101 -1.701705  1.473305  0.912485
2013-01-04  0.510689 -0.554595  1.726198  1.206593
2013-01-03 -1.167990 -0.320839  0.829406 -0.173443
2013-01-06  0.520627 -0.303681  1.757463 -1.409960

## 索引

虽然 `DataFrame` 支持 `Python/Numpy` 的索引语法，但是推荐使用 `.at, .iat, .loc, .iloc 和 .ix` 方法进行索引。

### 读取数据

选择单列数据：

In [17]:
df["A"]

2013-01-01   -0.438101
2013-01-02   -2.409802
2013-01-03   -1.167990
2013-01-04    0.510689
2013-01-05   -0.895075
2013-01-06    0.520627
Freq: D, Name: A, dtype: float64

也可以用 `df.A`：

In [18]:
df.A

2013-01-01   -0.438101
2013-01-02   -2.409802
2013-01-03   -1.167990
2013-01-04    0.510689
2013-01-05   -0.895075
2013-01-06    0.520627
Freq: D, Name: A, dtype: float64

使用切片读取多行：

In [19]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.438101 -1.701705  1.473305  0.912485
2013-01-02 -2.409802 -2.611850 -0.197020  0.016782
2013-01-03 -1.167990 -0.320839  0.829406 -0.173443

`index` 名字也可以进行切片：

In [20]:
df["20130101":"20130103"]

                   A         B         C         D
2013-01-01 -0.438101 -1.701705  1.473305  0.912485
2013-01-02 -2.409802 -2.611850 -0.197020  0.016782
2013-01-03 -1.167990 -0.320839  0.829406 -0.173443

### 使用 `label` 索引

`loc` 可以方便的使用 `label` 进行索引：

In [21]:
df.loc[dates[0]]

A   -0.438101
B   -1.701705
C    1.473305
D    0.912485
Name: 2013-01-01 00:00:00, dtype: float64

多列数据：

In [22]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -0.438101 -1.701705
2013-01-02 -2.409802 -2.611850
2013-01-03 -1.167990 -0.320839
2013-01-04  0.510689 -0.554595
2013-01-05 -0.895075 -2.211084
2013-01-06  0.520627 -0.303681

选择多行多列：

In [23]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -2.409802 -2.611850
2013-01-03 -1.167990 -0.320839
2013-01-04  0.510689 -0.554595

数据降维：

In [24]:
df.loc['20130102',['A','B']]

A   -2.409802
B   -2.611850
Name: 2013-01-02 00:00:00, dtype: float64

得到标量值：

In [25]:
df.loc[dates[0],'B']

-1.7017047254622615

不过得到标量值可以用 `at`，速度更快：

In [26]:
%timeit -n100 df.loc[dates[0],'B']
%timeit -n100 df.at[dates[0],'B']

print df.at[dates[0],'B']

100 loops, best of 3: 369 µs per loop
100 loops, best of 3: 42.3 µs per loop
-1.70170472546

### 使用位置索引

`iloc` 使用位置进行索引：

In [27]:
df.iloc[3]

A    0.510689
B   -0.554595
C    1.726198
D    1.206593
Name: 2013-01-04 00:00:00, dtype: float64

连续切片：

In [28]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04  0.510689 -0.554595
2013-01-05 -0.895075 -2.211084

索引不连续的部分：

In [29]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -2.409802 -0.197020
2013-01-03 -1.167990  0.829406
2013-01-05 -0.895075  0.176327

索引整行：

In [30]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -2.409802 -2.611850 -0.197020  0.016782
2013-01-03 -1.167990 -0.320839  0.829406 -0.173443

整列：

In [31]:
df.iloc[:, 1:3]

                   B         C
2013-01-01 -1.701705  1.473305
2013-01-02 -2.611850 -0.197020
2013-01-03 -0.320839  0.829406
2013-01-04 -0.554595  1.726198
2013-01-05 -2.211084  0.176327
2013-01-06 -0.303681  1.757463

标量值：

In [32]:
df.iloc[1,1]

-2.6118504399029807

当然，使用 `iat` 索引标量值更快：

In [33]:
%timeit -n100 df.iloc[1,1]
%timeit -n100 df.iat[1,1]

df.iat[1,1]

100 loops, best of 3: 248 µs per loop
100 loops, best of 3: 22.2 µs per loop

-2.6118504399029807

### 布尔型索引

所有 `A` 列大于 0 的行：

In [34]:
df[df.A > 0]

                   A         B         C         D
2013-01-04  0.510689 -0.554595  1.726198  1.206593
2013-01-06  0.520627 -0.303681  1.757463 -1.409960

只留下所有大于 0 的数值：

In [35]:
df[df > 0]

                   A   B         C         D
2013-01-01       NaN NaN  1.473305  0.912485
2013-01-02       NaN NaN       NaN  0.016782
2013-01-03       NaN NaN  0.829406       NaN
2013-01-04  0.510689 NaN  1.726198  1.206593
2013-01-05       NaN NaN  0.176327       NaN
2013-01-06  0.520627 NaN  1.757463       NaN

使用 `isin` 方法做 `filter` 过滤：

In [36]:
df2 = df.copy()
df2['E'] = ['one', 'one','two','three','four','three']

df2

                   A         B         C         D      E
2013-01-01 -0.438101 -1.701705  1.473305  0.912485    one
2013-01-02 -2.409802 -2.611850 -0.197020  0.016782    one
2013-01-03 -1.167990 -0.320839  0.829406 -0.173443    two
2013-01-04  0.510689 -0.554595  1.726198  1.206593  three
2013-01-05 -0.895075 -2.211084  0.176327 -0.543157   four
2013-01-06  0.520627 -0.303681  1.757463 -1.409960  three

In [37]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03 -1.167990 -0.320839  0.829406 -0.173443   two
2013-01-05 -0.895075 -2.211084  0.176327 -0.543157  four

### 设定数据的值

In [38]:
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))

s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

像字典一样，直接指定 `F` 列的值为 `s1`，此时以 `df` 已有的 `index` 为标准将二者进行合并，`s1` 中没有的 `index` 项设为 `NaN`，多余的项舍去：

In [39]:
df['F'] = s1

df

                   A         B         C         D   F
2013-01-01 -0.438101 -1.701705  1.473305  0.912485 NaN
2013-01-02 -2.409802 -2.611850 -0.197020  0.016782   1
2013-01-03 -1.167990 -0.320839  0.829406 -0.173443   2
2013-01-04  0.510689 -0.554595  1.726198  1.206593   3
2013-01-05 -0.895075 -2.211084  0.176327 -0.543157   4
2013-01-06  0.520627 -0.303681  1.757463 -1.409960   5

或者使用 `at` 或 `iat` 修改单个值：

In [40]:
df.at[dates[0],'A'] = 0

df

                   A         B         C         D   F
2013-01-01  0.000000 -1.701705  1.473305  0.912485 NaN
2013-01-02 -2.409802 -2.611850 -0.197020  0.016782   1
2013-01-03 -1.167990 -0.320839  0.829406 -0.173443   2
2013-01-04  0.510689 -0.554595  1.726198  1.206593   3
2013-01-05 -0.895075 -2.211084  0.176327 -0.543157   4
2013-01-06  0.520627 -0.303681  1.757463 -1.409960   5

In [41]:
df.iat[0, 1] = 0

df

                   A         B         C         D   F
2013-01-01  0.000000  0.000000  1.473305  0.912485 NaN
2013-01-02 -2.409802 -2.611850 -0.197020  0.016782   1
2013-01-03 -1.167990 -0.320839  0.829406 -0.173443   2
2013-01-04  0.510689 -0.554595  1.726198  1.206593   3
2013-01-05 -0.895075 -2.211084  0.176327 -0.543157   4
2013-01-06  0.520627 -0.303681  1.757463 -1.409960   5

设定一整列：

In [42]:
df.loc[:,'D'] = np.array([5] * len(df))

df

                   A         B         C  D   F
2013-01-01  0.000000  0.000000  1.473305  5 NaN
2013-01-02 -2.409802 -2.611850 -0.197020  5   1
2013-01-03 -1.167990 -0.320839  0.829406  5   2
2013-01-04  0.510689 -0.554595  1.726198  5   3
2013-01-05 -0.895075 -2.211084  0.176327  5   4
2013-01-06  0.520627 -0.303681  1.757463  5   5

设定满足条件的数值：

In [43]:
df2 = df.copy()

df2[df2 > 0] = -df2

df2

                   A         B         C  D   F
2013-01-01  0.000000  0.000000 -1.473305 -5 NaN
2013-01-02 -2.409802 -2.611850 -0.197020 -5  -1
2013-01-03 -1.167990 -0.320839 -0.829406 -5  -2
2013-01-04 -0.510689 -0.554595 -1.726198 -5  -3
2013-01-05 -0.895075 -2.211084 -0.176327 -5  -4
2013-01-06 -0.520627 -0.303681 -1.757463 -5  -5

## 缺失数据

In [44]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1],'E'] = 1

df1

                   A         B         C  D   F   E
2013-01-01  0.000000  0.000000  1.473305  5 NaN   1
2013-01-02 -2.409802 -2.611850 -0.197020  5   1   1
2013-01-03 -1.167990 -0.320839  0.829406  5   2 NaN
2013-01-04  0.510689 -0.554595  1.726198  5   3 NaN

丢弃所有缺失数据的行得到的新数据：

In [45]:
df1.dropna(how='any')

                   A        B        C  D  F  E
2013-01-02 -2.409802 -2.61185 -0.19702  5  1  1

填充缺失数据：

In [46]:
df1.fillna(value=5)

                   A         B         C  D  F  E
2013-01-01  0.000000  0.000000  1.473305  5  5  1
2013-01-02 -2.409802 -2.611850 -0.197020  5  1  1
2013-01-03 -1.167990 -0.320839  0.829406  5  2  5
2013-01-04  0.510689 -0.554595  1.726198  5  3  5

检查缺失数据的位置：

In [47]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True